<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User profile</title>
</head>
<body>
<h1>Change email.</h1>

<form  th:action="@{/profile/changepassword/}" method='POST'>
    <table>
        <tr>
            <td>Current password:</td>
            <td><input type='text' name='currentPassword' required="" /></td>
        </tr>
        <tr>
            <td>New password:</td>
            <td><input type='text' name='newPassword' required="" /></td>
        </tr>
        <tr>
            <td><input name="submit" type="submit" value="submit" /></td>
        </tr>

    </table>
    <br>
</form>
<br><br>
<a href="/profile" ><button>Back to profile</button></a><br>

</body>
</html>