<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User profile</title>
</head>
<body>
<h1>This is user profile page, very nice.</h1>
<p th:text="${userDetails.username}" >username:</p>
<br>
<br>
<a href="/" ><button>Home Page</button></a><br>
<a href="/" ><button>edit info - not workin</button></a><br>
<a href="/" ><button>my job offers - not workin</button></a><br>
<a href="/" ><button>favourite jobs offers - not workin</button></a><br>
<a href="/logout" ><button>logout</button></a><br>

</body>
</html>