<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User profile</title>
</head>
<body>
<h1>This is user profile page, very nice.</h1>
<p th:text="${'Username: ' + userDetails.username}">username:</p>
<p th:text="${'Email: ' + user.getEmail()}">email:</p>
<br>
<br>
<a href="/" ><button>Home Page</button></a><br><br>
<a href="/profile/changeemail" ><button>change email</button></a><br><br>
<a href="/profile/changepassword" ><button>change password</button></a><br><br>
<a href="/profile/mailbox" ><button>Mailbox</button></a><br><br>
<a href="/profile/joboffers" ><button>my job offers</button></a><br><br>
<a href="/profile/uploadedcv" ><button>my uploaded CV</button></a><br><br>
<a href="/" ><button>favourite jobs offers - not workin</button></a><br><br>
<a href="/logout" ><button>logout</button></a><br>

</body>
</html>